@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index:50;
    padding-bottom:50px;
}

.main {
    border-radius:3px
}