/* CSS Style Sheet for Crazy Bob */

/* Global Style */
body{
    background-color:antiquewhite;
    margin:0;
    padding:0;
    font-family:sans-serif;
}

div#container{
    background-color:antiquewhite;
    width:1024px;
    /* centers the container */
    margin:auto;
}

header{
    background-image:url('../images/large_pumpkins.jpg');
    background-position:center;
    background-size:1025px;
    background-color:antiquewhite;
    width:100%;
    height:150px;
    margin:0;
}

header h1{
    text-align:center;
    padding-top:50px;
    color:;
    text-shadow:1px 1px 1px orange;
    margin:0;
    font-size:40px;
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Pontano Sans', sans-serif; */


}

nav {
    width:100%;
    background-color:bisque;
    clear:both;
    margin:0;
    font-family:'tahoma', sans-serif;
    font-size:14px;
    box-shadow: 3px 3px 3px #e6cdb0;
}

nav ul{
    margin;0;
    padding:0;
    overflow:hidden;
    list-style:none;
}

nav ul li{
    float:left;
}

nav ul li a{
    display:block;
    color:black;
    text-align:center;
    text-decoration:none;
    padding: 14px 16px;
}

nav ul li a:hover{
    background-color:orange;
    box-shadow: 1px 1px 10px #e09100;
}

.active{
    background-color:orange;

}

footer{
    width:100%;
    background-color:antiquewhite;
    color:black;
    text-align:center;
    padding:20px 0;
}

.keepOpen{
    clear:both;
}

/* index.html */

img#home-img{
    width:400px;
    display:block;
    margin:15px;
    float:left;
}

h2#h2-home{
    float:left;
    margin-bottom:0;
    margin-top:10px;
    /* font-family: 'Oxygen', sans-serif;
    font-family: 'Quicksand', sans-serif; */
    font-family: 'Pontano Sans', sans-serif;


}

p#p-home{
    float:left;
    width:58%;
    margin-top:10px;
    /* font-family: 'Oxygen', sans-serif;
    font-family: 'Quicksand', sans-serif; */
    font-family: 'Pontano Sans', sans-serif;
}

/* about.html */

img#about-img{
    width:460px;
    display: block;
    margin:15px;
    float:left;
}

h2#h2-about{
    margin-bottom:0px;
    margin-top:0px;
    float:left;
    /* font-family: 'Oxygen', sans-serif;
    font-family: 'Quicksand', sans-serif; */
    font-family: 'Pontano Sans', sans-serif;
}

p#p-about{
    float:left;
    width:52%;
    margin-top:10px;
    /* font-family: 'Oxygen', sans-serif;
    font-family: 'Quicksand', sans-serif; */
    font-family: 'Pontano Sans', sans-serif;
}

/* Produce.html */

div#gallery{
    width:100%;
    border:3px solid bisque;
}

figure{
    width:250px;
    float:left;
    background-color:bisque;
    box-shadow: 1px 1px 10px #e6cdb0;
    background:-moz-linear-gradient(bisque, #e6cdb0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bisque, #f7d7b1); /* Standard syntax */
}

figure img{
    display:block;
    width:200px;
    height:150px;
    margin:18px auto;
    
}

figcaption{
    text-align:center;
    padding:0px 0;
    padding-bottom: 15px;
    font-family: sans-serif;
    font-size:15px;
}

/* contact.html */
form{
    float:left;
}

h2#h2-contact{
    width:100%;
    margin-left:10px;
    
}
form#form-contact{
    margin-left:10px;
}

form input, textarea{
    margin-bottom:5px;
}

button#button-contact{
    width:80px;
    height:40px;
    font-weight:500;
    margin-top:10px;
    margin-bottom:15px;
}
div#map{
    float:right;
    margin-top:0;
    margin-right:20px;
}

div#map h2{
    margin-top:0;
}