body{
    background-color:#F4F4F5;
    margin: 0;
    padding-top:0px;
    font-family: 'Palanquin', sans-serif;
}


div#container{
    background-color:#F4F4F5;
    width:82%;
    margin:auto;
}

header{
    background-color:#F4F4F5;
    background-position:top;
    background-size:82%;
    width:100%;
    height:75px;
    margin:0px;
}

header h1{
    text-align:center;
    padding:50px;
    color:#72C0C4;
    margin:0;
    font-size:20px;
    font-family: 'Palanquin', sans-serif;
    text-decoration:none;
}

header h1 a{
    text-decoration:none;
    color:#7DC8CC;
}

div#content{
    
}
 nav {
    width:100%;
    background-size:82%;
    background-color:#F4F4F5;
    clear:both;
    font-family: 'Palanquin', sans-serif;
    text-align:center;
    font-size:14px;
    box-shadow: 0 2px 4px -6px #cbcbcb, 0 0 20px -22px #cbcbcb;
    margin: 10px;
    padding-top: 30px;
}


@media only screen and (max-width: 767px){
    nav {
    float:center;
    width:100%;
    background-color:#F4F4F5;
    clear:both;
    text-align:center;
    font-family: 'Palanquin', sans-serif;
    font-size:14px;
    box-shadow: 0 2px 4px -6px #cbcbcb, 0 0 20px -22px #cbcbcb;

}
}


nav ul {
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;
}

nav ul li{
    float:left;
    width:25%;
}

@media only screen and (max-width: 767px){
    nav ul li {
        float:left;
        width:100%;
    }
}


nav ul li a {
    display:inline-block;
    color:#60767A;
    text-align:center;
    padding: 5% 25%;
    text-decoration:none;
    width:40%;
    white-space:nowrap;
    overflow:hidden;
}

@media only screen and (max-width: 767px){
nav ul li a {
    display:inline-block;
    float:left;
    color:#60767A;
    text-align:center;
    padding:5% 30% 5% 30%;
    text-decoration:none;
    width:40%;
    
}
}

nav ul li a:hover{
    background-color:#EDEDED;
    box-shadow: 1px 1px 10px #dddddd;
    width:40%;
}

.active{
    background-color:#EDEDED;
    width:40%;
}

.container {
    width:100%;
    background-color: #ddd;
}

.skills {
    text-align:right;
    padding-right: 20px;
    line-height:40px;
}
.html {
    width: 50%; background-color:
}

h2 {
    padding:20px;
    text-align: center;
    color:#7DC8CC;
    font-size:30px;
}

#p-about{
    color:#60767A;
    padding-left: 10px;
}

@media only screen and (max-width: 767px){
#p-about{
    color:#60767A;
    text-align:center;
    font-size:20px;
    padding: 20px;
    
}
}

#about-img{
    float:left;
    align-content: center;
    width:40%;
    padding-right: 30px;
    padding-top: 10px;
}

@media only screen and (max-width: 767px){
#about-img{
    align-content: center;
    width:100%;
    padding-bottom:20px;
    padding-right:0px;
    padding-top:0px;
}
}

#gallery{

}

@media only screen and (max-width: 767px){
#gallery{
    overflow-x:auto;
    white-space: nowrap;
}
#gallery-img{
    display: inline-block;
    text-align:center;
    padding:14px;
}
    
}
    

footer {
    color:#60767A;
    text-align:center;
}